audioop-lts
discord.py
mistralai
python-dotenv
fastapi
uvicorn
cryptography
requests
semantic-kernel
google-auth-oauthlib
google-api-python-client
aiohttp
httpx
pydantic
pydantic-settings
azure-storage-blob